<! DOCTYPE html>
<html>
<head></head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body class="container">
	<h2 align="center">
		<img height="40px" width="40px" src="images/sandwich_icon.png" />
		Welcome to the sandwich tester. <img height="40px" width="40px"
			src="images/sandwich2_icon.png" />
	</h2>
	<p>Is your sandwich the best it can be? Based on the ingredients of
		your sandwich, our sandwich artisan Stanley will give you feedback on
		your sandwich!</p>

	<section></section>

	<form action="response" method="post">

		<h4>
			Input your ingredients <img width="24px" height="24px"
				src="https://daks2k3a4ib2z.cloudfront.net/580541d1a752d8bb67956b43/5805451beb8657e2596bdd9f_Smash_ball.png" />
		</h4>

		<fieldset>
			<legend>
				Bread <img class="icon" height="24px" width="24px"
					src="images/bread_icon.png" />
			</legend>

			<p>
				<label> <input type="radio" name="bread" required
					value="wheat"> Wheat
				</label> <br> <label> <input type="radio" name="bread" required
					value="white"> White
				</label> <br> <label> <input type="radio" name="bread" required
					value="sourdough"> Sourdough
				</label> <br> <label> <input type="radio" name="bread" required
					value="rye"> Rye
				</label> <br> <label> <input type="radio" name="bread" required
					value="other"> Other
				</label>
			</p>

		</fieldset>

		<fieldset>
			<legend>
				Meats <img class="icon" height="24px" width="24px"
					src="images/meat_icon.png" />
			</legend>

			<p>
				<label> <input type="checkbox" name="meats" value="turkey">
					Turkey
				</label> <br> <label> <input type="checkbox" name="meats"
					value="ham"> Ham
				</label> <br> <label> <input type="checkbox" name="meats"
					value="chicken"> Chicken
				</label> <br> <label> <input type="checkbox" name="meats"
					value="beef"> Beef
				</label> <br> <label> <input type="checkbox" name="meats"
					value="tuna"> Tuna
				</label> <br> <label> <input type="checkbox" name="meats"
					value="other"> Other
				</label>
			</p>
		</fieldset>

		<fieldset>
			<legend>
				Vegetables <img class="icon" height="24px" width="24px"
					src="images/vegetable_icon.png" />
			</legend>

			<p>
				<label> <input type="checkbox" name="vegetables"
					value="lettuce"> Lettuce
				</label> <br> <label> <input type="checkbox" name="vegetables"
					value="tomatoes"> Tomatoes
				</label> <br> <label> <input type="checkbox" name="vegetables"
					value="onions"> Onions
				</label> <br> <label> <input type="checkbox" name="vegetables"
					value="pickles"> Pickles
				</label> <br> <label> <input type="checkbox" name="vegetables"
					value="bell_peppers"> Bell peppers
				</label>

			</p>
		</fieldset>

		<fieldset>
			<legend>
				Condiments <img class="icon" height="24px" width="24px"
					src="images/sauce_icon.png" />
			</legend>

			<p>
				<label> <input type="checkbox" name="condiments"
					value="ranch"> Ranch
				</label> <br> <label> <input type="checkbox" name="condiments"
					value="chipotle"> Chipotle
				</label> <br> <label> <input type="checkbox" name="condiments"
					value="relish"> Relish
				</label> <br> <label> <input type="checkbox" name="condiments"
					value="mayo"> Mayonnaise
				</label> <br> <label> <input type="checkbox" name="condiments"
					value="avocado"> Avocado is good civilization
				</label> <br> <label> <input type="checkbox" name="condiments"
					value="mustard"> Mustard (any)
				</label> <br> <label> <input type="checkbox" name="condiments"
					value="siracha_aioli"> Siracha aioli (for hipsters)
				</label>
			</p>
		</fieldset>


		<p align="center">
			<br>
			<button>Grade my sandwich!</button>
			<br>
		</p>

	</form>
</body>

<footer>
	<hr></hr>
	<p align="center">
		Made by <a href="https://github.com/Michael-Huang-9001">Michael</a>.
		Visit us at <a
			href="https://www.google.com/maps/place/5701+Foothill+Blvd,+Oakland,+CA+94605/@37.7722032,-122.1935818,14z/data=!4m13!1m7!3m6!1s0x808f860c4d79fc99:0xd8c941eab0fa894!2s5701+Foothill+Blvd,+Oakland,+CA+94605!3b1!8m2!3d37.7719935!4d-122.1936556!3m4!1s0x808f860c4d79fc99:0xd8c941eab0fa894!8m2!3d37.7719935!4d-122.1936556">
			5701 Foothill Blvd, Oakland, CA 94605</a> for great sandwiches.
	</p>
</footer>
</html>