<!DOCTYPE html>
<head></head>
<html>
<body>
	<p>
		Preliminary questionnaire completed. Thank you.<br> You will be
		redirected in 3 seconds.
	</p>
	<script>
		var link = '/';
		var ms = 3000;
		
        var timer = setTimeout(function() {
            window.location = link
        }, ms);
    </script>
</body>
</html>